doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(http-quiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="description", content="#{__('Donald Trump')}")
        title #{__('Donald Trump')}
        link(rel="shortcut icon", href="/favicon.ico")
        style(type="text/css").
            @font-face {
                font-family: 'Droid Serif';
                src: url("/assets/fonts/DroidSerif.ttf");
            }
            @font-face {
                font-family: 'Yanone Kaffeesatz';
                src: url('/assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf')
            }
            @font-face {
                font-family: 'Ubuntu Mono';
                src: url('/assets/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf')
            }

            body {
                font-family: 'Droid Serif';
            }

            h1, h2, h3 {
                font-family: 'Yanone Kaffeesatz';
                font-weight: normal;
            }

            .remark-code, .remark-inline-code {
                font-family: 'Ubuntu Mono';
            }

            .inverse {
                background: #272822;
                color: #777872;
                text-shadow: 0 0 20px #333;
            }

            .inverse h1, .inverse h2 {
                color: #f3f3f3;
                line-height: 0.8em;
            }

            .white { color: white; }

            .footnote {position: absolute; bottom: 3em;}


body
    textarea#source.
        class: center top

        background-image: url(/assets/images/donald-trump.jpg)
        background-position: center middle
        background-size: cover

        # .white[唐纳德·特朗普]

        ---
        
        background-image: url(/assets/images/donald-trump.gif)
        background-position: center middle
        background-size: cover

        ---

        class: middle center
        
        <video width="100%" height="100%" controls>
            <source src="/assets/videos/donald-trump.mp4" type="video/mp4">
        </video>

div
    script(src="/assets/scripts/remark.min.js")
    script(src="/lib/katex/dist/katex.min.js")
    script(src="/lib/katex/dist/contrib/auto-render.min.js")
    link(rel="stylesheet", href="/lib/katex/dist/katex.min.css")
    script.
        var options = {};
        var renderMath = function() {
            renderMathInElement(document.body);
            // or if you want to use $...$ for math,
            // renderMathInElement(document.body, {delimiters: [ // mind the order of delimiters(!?)
            //     {left: "$$", right: "$$", display: true},
            //     {left: "$", right: "$", display: false},
            //     {left: "\\[", right: "\\]", display: true},
            //     {left: "\\(", right: "\\)", display: false},
            // ]});
        }

        var slideshow = remark.create(options, renderMath);
