div.hard.auto-wrap.cmd(style=(otherLocale == 'zh' ? "display: none;" : "display: block;"))
    include:md ../../README_zh-CN.md 
div.hard.auto-wrap.cmd(style=(otherLocale == 'en' ? "display: none;" : "display: block;"))
    include:md ../../README.md