div.ui.inverted.segment
    div.ui.inverted.secondary.menu
        a.item(href="https://travis-ci.com/Jeff-Tian/jokes", target="_blank", rel="noopener noreferer")
            i.dashboard.icon
            | #{__('编译状态')}