div.ui.purple.inverted.menu
    a.active.item(href="/DonaldTrump.html")
        i.users.icon
        | #{__('Donald Trump')}
    a.item(href="//gitmoji.js.org", target="_blank")
        i.smile.icon
        | gitmoji
    div.right.menu
        a.item(href="#{otherLocaleLink}")
            i.world.icon
            | #{__(otherLocale)}
